@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap');

html, body {
  height: 100%;

  // overide pico color variables
  --primary-focus: rgba(255, 255, 99, 0.5);
}

#root {
  min-height: 100%;
  width: 100%;
  min-width: $min-width;
}

body {
  height: 100%;
  min-height: 100%;
  color: $black;
  background-color: $white;

  & * {
    cursor: none !important;
    font-family: $font-family;
    color: $black;
  }

  #circularcursor {
    background-color: $black;
    height: $font-size-large;
    width: $font-size-large;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    z-index: 1;
    filter: invert(1);
    mix-blend-mode: difference;
  }
}

.page-layout {
  padding: 20px 0 0;

  header {
    width: $content-width;
    margin: 0 auto;
  }

  h1 {
    margin: 0;
    color: $white;
    font-size: $font-size-huge;
    -webkit-text-fill-color: $white; /* Will override color (regardless of order) */
    -webkit-text-stroke: 1px $black;
  }

  h2 {
    font-size: $font-size-large;
    margin-bottom: 1 * $space;
  }

  .content {
    width: $content-width;
    margin: 0 auto;
  }

  footer {
    display: flex;
    justify-content: space-between;

    width: $content-width;
    margin: 0 auto;
    padding-bottom: 2 * $space;

    & * {
      font-size: $font-size-small;
    }

    .icon {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-image: url('/apple-icon-57x57.png');
      background-size: cover;
    }

    .icon + span {
      vertical-align: super;
      font-weight: $font-weight-bold;
    }

    address {
      margin-bottom: 0;

      a {
        display: inline-block;
        width: 100%;
        text-align: right;
      }
    }

    .policies {
      margin-top: 0.5 * $space;
    }

    .policies > button {
      width: max-content;
      padding: 0.2 * $space 0.5 * $space;
      border-radius: 0;
      background-color: $white;
      border: 1px solid $black;

      &:first-of-type {
        margin-right: 0.5 * $space;
      }
    }
  }
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  padding: 0;
  height: 28px;

  & > li {
    width: 28px;
    height: 100%;
    list-style: none;
    margin-bottom: 0;
    line-height: initial;
    border: 1px solid black;
    border-right-width: 0;
  }

  & > li:last-of-type {
    border-right-width: 1px;
  }

  & > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: $font-size-small;
  }

  & > li.curr > a {
    background-color: $key-color;
  }
}

.loading-decorator {
  display: flex;
  flex-flow: column nowrap;

  opacity: 0;
  animation: fadeIn 300ms 50ms ease-in forwards;
}

@keyframes fadeIn { 
  to { opacity: 100 } 
}